:root {
  font-family: 'poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.hero{
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.data-cut{
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}

.cut-content{
  margin: auto;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  outline: none;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 2px #ffffff;
}

.green {
  border-bottom: 2px solid #00ff55; /* verde */
}

.red {
  border-bottom: 2px solid #ff0033; /* rojo */
}

.info-content{
  margin-top: 5em;
  background-color: black;
  padding: 1rem;
  font-size: 9px;

}

